<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <title>首页</title>
    <script type="text/javascript" th:src="@{/static/js/jquery.js}" src="../../static/js/jquery.js"></script>
    <script type="text/javascript" src="https://res2.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
    <script type="text/javascript" th:src="@{/static/js/util.js}" src="../../static/js/util.js"></script>
    <script type="text/javascript" th:src="@{/static/js/vconsole.min.js}" src="../../static/js/vconsole.min.js"></script>
    <style>
        html {
            height: 100%;
        }
    </style>
    <script th:inline="javascript">
        var ctxPath  = [[@{/}]];
        var auths = [[${auths}]];
        var userinfo = [[${userinfo}]];
        var usertoken = JSON.parse(userinfo).token;


        //退出
        function logout() {
            localStorage.removeItem("user_token");
            localStorage.removeItem("user_auths");
            localStorage.removeItem("user_info");
            location.href = ctxPath + "/logout"
        }

        //获取菜单
        function getUserAuths() {
            return localStorage.getItem("user_auths");
        }

        //获取用户信息
        function getUserInfo() {
            return localStorage.getItem("user_info");
        }

        //获取token
        function getToken() {
            return localStorage.getItem("user_token");
        }

        //获取用户名字
        function getUserName() {
            return localStorage.getItem("user_name");
        }

        //显示loading
        function showLoading() {
            $('#portlet-loading').show();
        }

        //显示loading
        function showLoading() {
            $('#portlet-loading').show();
        }


        //设置我的位置信息
        function setSystemLocation(res) {
            localStorage.setItem("system_location", JSON.stringify(res));
        }

        //获取我的位置信息
        function getSystemLocation() {
            return JSON.parse(localStorage.getItem("system_location"));
        }

        //设置 LcalStorage
        function setLocalStorage(key, value) {
            localStorage.setItem(key, value);
        }

        //获取 LcalStorage
        function getLocalStorage(key) {
            return localStorage.getItem(key)
        }

        //showLoading();
        $("#myiframe").load(function () {
            //hideLoading();
        })

        //设置iframe src
        function setMyIframeSrc(src) {
            // hideLoading();
            $('#myiframe').attr('src', src);
        }

        function wxGetLocation(successCallback, failCallback) {
            console.log("wxGetLocation-----------------");
            wx.getLocation({
                type: 'gcj02', // 默认为wgs84的 gps 坐标，如果要返回直接给 openLocation 用的火星坐标，可传入'gcj02'
                success: function (res) {
                    console.log("获取微信定位信息成功 " + JSON.stringify(res));
                    setSystemLocation(res);
                    successCallback(res);
                },
                fail: function (res) {
                    console.log("获取微信定位信息异常 " + JSON.stringify(res));
                    failCallback(res);
                },
                complete: function (res) {
                }
            });
        }

        function wxOpenLocation(name, lng, lat) {
            wx.openLocation({
                latitude: lng,
                longitude: lat,
                name: name,
                address: '位置名的详情说明',
                scale: 10,
            });
        }

        function getWxObj() {
            return wx;
        }

        //设置我的位置默认值
        var defMyLocation = {};
        defMyLocation.latitude = 32.087106;
        defMyLocation.longitude = 118.797515;
        defMyLocation.name = '江苏省南京市玄武区红山街道龙蟠路111号南京站';
        setSystemLocation(defMyLocation);

        var domain = [[${domain}]];

        userinfo.domain = domain;
        var deployPath = [[${deployPath}]];
        localStorage.setItem("user_token", usertoken);
        localStorage.setItem("user_auths", auths);
        localStorage.setItem("user_info", userinfo);
    </script>
</head>
<body style="height:100%;width:100%;margin:0px;">
<div id="portlet-loading">
    <!--    <img class="roate"  th:src="@{/static/image/kgLoading.png}" alt="" srcset="" />-->
</div>
<iframe id="myiframe" height="97%" width="100%" style="overflow-y: scroll;overflow-x: hidden;border:0px;padding:0px;width:100%;height:100%;">
</iframe>
</body>
<script th:inline="javascript">
    $("#myiframe").load(function () {
        // hideLoading();
    });
</script>
</html>
