.header {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    /*min-width: 1400px;*/
    height: 8.2vh;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    background: #f9f9fb;
    box-shadow: 0px 0px .3vh .3vh #598AF9;
}
.header .header-left{
    position: absolute;
    left: 4vh;
    top: 1.9vh;
    width: 29.3vh;
    height: 4.8vh;
    display: flex;
}
.header-left .header-left-svg{
    width: .43rem;
    height: .43rem;
}
.header-left .header-right-svg{
    width: calc(100% - .48rem);
    height: 100%;
    margin-left: .2rem;
}
.logo-img {
    margin-top: 1.9vh;
    margin-left: 4vh;
    width: 4.1vh;
    height: 4.8vh;
    opacity: 1;
    background: #598af9;
}

.image {
    width: 4.1vh;
    height: 4.8vh;
    opacity: 1;
    background: #598af9;
}
.title-wrapper{
    height: 100%;
    margin-left: 2vh;
}
.page-title {
    /*width: 300px;*/
    display: block;
    margin-top: 2.5vh;
    height: 2.5vh;
    opacity: 1;
    font-size: 2.7vh;
    font-family: HYRunYuan, HYRunYuan-FEW;
    font-weight: 600;
    text-align: left;
    color: #333333;
    line-height: 2.5vh;
    letter-spacing: .3vh;
}

.subtitle {
    width: 30vh;
    height: 1.1vh;
    margin-top: .5vh;
    opacity: 1;
    display: block;
    font-size: 1.1vh;
    font-family: Arial, Arial-Regular;
    font-weight: 400;
    text-align: left;
    color: #333333;
    line-height: 1.1vh;
    letter-spacing: .1vh;
}

.header-right span {
    display: block;
    line-height: 8.2vh;
}

.header-right {
    position: absolute;
    right: 3.2vh;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
}
.date-text {
    width: 28vh;
    opacity: 1;
    font-size: 1.5vh;
    font-family: Arial, Arial-Regular;
    font-weight: 400;
    text-align: center;
    color: #333333;

}

.user-avator {
    width: 2.1vh;
    height: 2.2vh;
    background: url("./../image/home-title/user.png") no-repeat center center;
    background-size: 100% 100%;
    opacity: 1;
}

.user-name {
    opacity: 1;
    font-size: 1.5vh;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    margin-left: 1.2vh;
    line-height: 8.2vh;
    color: #333333;
}

.first-image {
    width: 2.4vh;
    height: 2.3vh;
    margin-left: 3vh;
}

.second-image {
    width: 2.4vh;
    height: 2.3vh;
    margin-left: 2.3vh;
}

.zoom-icon {
    width: 2.3vh;
    height: 2.3vh;
    margin-left: 2.5vh;
}

.loginout {
    width: 2.2vh;
    height: 2.2vh;
    margin-left: 2.7vh;
}

.work-button {
    margin-left: 3vh;
    font-size: 1.2vh;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: center;
    color: #598af9;
}
.header-right .start-work {
    width: 4.5vh;
    height: 2.1vh;
    line-height: 2.1vh;
    opacity: 1;
    font-size: 1.2vh;
    background: rgba(89, 138, 249, 0.10);
    border: 1px solid #598af9;
    border-radius: .2vh;
    cursor: pointer;
}

.header-right .off-work {
    margin-top: .5vh;
    width: 4.5vh;
    height: 2.1vh;
    line-height: 2.1vh;
    opacity: 1;
    font-size: 1.2vh;
    background: rgba(89, 138, 249, 0.10);
    border: 1px solid #598af9;
    border-radius: .2vh;
    cursor: pointer;
}


